﻿@model CreateAdminAccountCommand

@{
    ViewData["Title"] = "Добавить запись";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Справочники</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index">Список администраторов</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Добавить запись</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>Новая запись</h2>

            <form asp-action="Create">

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Имя</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.FirstName" class="form-control bg-light">
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Фамилия</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.LastName" class="form-control bg-light">
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Мэрия</label>
                    <div class="col-sm-7">
                        <select asp-for="@Model.MayorOfficeId" class="form-control" asp-items="ViewBag.MayorOffices">
                        </select>
                        <span asp-validation-for="@Model.MayorOfficeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Почта</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.Email" type="email" class="form-control bg-light">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.Password" type="password" class="form-control bg-light">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Подтвердите пароль</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control bg-light">
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a asp-action="Index" class="btn btn-white" type="button">
                            <i class="mdi mdi-arrow-left-bold-circle-outline"></i> Отмена
                        </a>
                        <button class="btn btn-info" type="submit">
                            <i class="mdi mdi-content-save"></i> Сохранить
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @Html.RenderPartialAsync("_ValidationScriptsPartial")
}
