﻿@model ChangePasswordCommand

@{
    var title = "Смена пароля";
    ViewData["Title"] = title;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox">

        <div asp-validation-summary="ModelOnly"></div>

        <div class="ibox-content">

            <h2>@title</h2>

            <form asp-action="ChangePassword">

                <input type="hidden" asp-for="@Model.UserId" />

                <div class="hr-line-dashed"></div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Старый пароль</label>
                    <div class="col-sm-10">
                        <input asp-for="@Model.OldPassword" class="form-control" type="password">
                        <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Новый пароль</label>
                    <div class="col-sm-4">
                        <input asp-for="@Model.Password" class="form-control" type="password">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <label class="col-sm-2 col-form-label">Подтвердите пароль</label>
                    <div class="col-sm-4">
                        <input asp-for="@Model.ConfirmPassword" class="form-control" type="password">
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <a asp-controller="Notification" asp-action="Index" class="btn btn-white" type="button">
                            <i class="fa fa-mail-reply"></i> Отмена
                        </a>
                        <button class="btn btn-info" type="submit">
                            <i class="fa fa-save"></i> Сохранить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Html.RenderPartialAsync("_ValidationScriptsPartial");
}