﻿@model LoginCommand

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Окно авторизации</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">JFF</h1>
            </div>
            <h3>Добро пожаловать в City JFF</h3>
            <form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" class="m-t">

                <div class="form-group">
                    <input asp-for="@Model.Email" class="form-control" placeholder="Почта">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Password" class="form-control" placeholder="Пароль" type="password">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-left">
                    <input asp-for="@Model.RememberMe" type="checkbox" class="i-checks" />
                    <label asp-for="@Model.RememberMe" class="form-check-label pl-2">Запомнить меня</label>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Вход</button>
            </form>
            <div class="form-group text-center">
                <a asp-controller="Account" asp-action="ForgotPassword">Забыли пароль</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>

    <environment names="Development, Staging, Production">

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
                toastr.options = {
                    closeButton: true,
                    debug: true,
                    progressBar: true,
                    positionClass: 'toast-top-right',
                    onclick: null
                };

                @if (TempData["IsConfirmed"] != null && (bool)TempData["IsConfirmed"])
                {
                    @: toastr.success('На вашу почту была отправлена ссылка для подтверждения!', 'Success!');
                }
                else if(TempData["IsConfirmed"] != null && !(bool)TempData["IsConfirmed"])
                {
                    @: toastr.error('Ошибка при подтверждении почты!', 'Error');
                }
            });
        </script>

        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    </environment>
</body>
</html>