﻿@model ComplaintNotificationVm

    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="mdi mdi-bell"></i>
        <span id="total_notification" class="label label-warning animated">@Model.TotalComplaintsCount</span>
    </a>

    <ul class="dropdown-menu dropdown-alerts">

        @if (Model.IsAdministrator)
        {
            <li>
                <a asp-controller="ComplaintNotification" asp-action="AdminCitizenComplaintNotifications">
                    <div>
                        <i class="mdi mdi-plus text-success"></i> 
                        <span id="new_complaints_notification">@Model.NewComplaintsCount</span> Новых заявок
                        <span class="float-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>

            <li class="dropdown-divider"></li>
            <li>
                <a asp-controller="ComplaintNotification" asp-action="Index">
                    <div>
                        <i class="mdi mdi-reply-all-outline text-danger"></i> 
                        <span id="canceled_complaints_notification">@Model.CanceledComplaintsCount</span> Отмененных заявок
                        <span class="float-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
        }
        else
        {
            <li>
                <a asp-controller="ComplaintNotification" asp-action="ManagerCitizenComplaintNotifications">
                    <div>
                        <i class="mdi mdi-plus text-success"></i> 
                        <span id="structural_comolaints_notification">@Model.NewComplaintsCount</span> Новых заявок
                        <span class="float-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>
        }
    </ul>