﻿@model EditCitizenComplaintStatusCommand

<div class="modal inmodal" id="completeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <form method="post" asp-action="Complete">
                <input hidden asp-for="CitizenComplaintId" id="CompleteCitizenComplaintId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="mdi mdi-check-all modal-icon text-info"></i>
                    <h4 class="modal-title">Завершить заявку</h4>
                </div>
                <div class="modal-body">
                    <textarea asp-for="Description" rows="6" class="form-control" placeholder="Описание"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>