﻿@model MonthlyCitizenComplaintsDto

<div class="ibox ">
    <div class="ibox-title">
        <h5>Статистика заявок за последние 7 месяцев</h5>
    </div>
    <div class="ibox-content">
        <div>
            <canvas id="barChart" height="140"></canvas>
        </div>
    </div>
</div>


<environment names="Development,Staging,Production">
    <script src="~/lib/chartJs/Chart.min.js"></script>

    <script type="text/javascript">

        var barData = {
            labels: @Json.Serialize(Model.Monthes),
            datasets: [
                {
                    label: "Общее число",
                    backgroundColor: 'rgba(220, 220, 220, 0.5)',
                    pointBorderColor: "#fff",
                    data: @Json.Serialize(Model.MonthsTotalCount)
                },
                {
                    label: "Исполненные",
                    backgroundColor: 'rgba(26,179,148,0.5)',
                    borderColor: "rgba(26,179,148,0.7)",
                    pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: @Json.Serialize(Model.MonthsCompletedCount)
                }
            ]
        };

        var barOptions = {
            responsive: true
        };


        var ctx2 = document.getElementById("barChart").getContext("2d");
        new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });

    </script>
</environment>