﻿@model double

<div>
    <div id="gauge"></div>
    <div class="text-center">
        <strong class="text-secondary">Исполненных</strong>
    </div>
</div>



<environment names="Development,Staging,Production">
    <link rel="stylesheet" href="~/lib/c3/c3.min.css" />
</environment>


<environment names="Development,Staging,Production">
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/lib/c3/c3.min.js"></script>

    <script type="text/javascript">
        c3.generate({
            bindto: '#gauge',
            data: {
                columns: [
                    ['Исполненных заявок', @Model]
                ],

                type: 'gauge'
            },
            color: {
                pattern: ['#1ab394', '#BABABA']

            }
        });
    </script>
</environment>
