﻿@model FinishedCitizenComplaintsDto

<div class="ibox ">
    <div class="ibox-title">
        <span class="label label-info">Исполненных</span>
    </div>
    <div class="ibox-content">
        <h2 class="no-margins">@Model.FinishedCount (@Model.MonthCount*)</h2>
        <div class="stat-percent font-bold text-info" title="Прирост исполненных заявок в % за текущий месяц">
            @Model.MonthlyGrowthProcent% <i class="mdi mdi-arrow-up"></i>
        </div>
        <small>заявок</small>
    </div>
</div>
