﻿
@{
    ViewData["Title"] = "Список справочников";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Справочники</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Список справочников</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox-content forum-container">

        <div class="forum-item">
            <div class="row">
                <div class="col-md-11">
                    <div class="forum-icon">
                        <i class="mdi mdi-bank"></i>
                    </div>
                    <a asp-controller="MayorOffice" asp-action="Index" class="forum-item-title">Справочник мэрий городов</a>
                    <div class="forum-sub-title">Данный справочник содержит список мэрий городов</div>
                </div>
                <div class="col-md-1 forum-info">
                    <span class="views-number">
                        <dictionary-element-count class="views-number" dictionary-type="MayorOffice"></dictionary-element-count>
                    </span>
                    <div>
                        <small>элементов</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-11">
                    <div class="forum-icon">
                        <i class="mdi mdi-sitemap"></i>
                    </div>
                    <a asp-controller="StructuralUnit" asp-action="Index" class="forum-item-title">Справочник структурных подразделений</a>
                    <div class="forum-sub-title">Данный справочник содержит список структурных подразделений мэрий</div>
                </div>
                <div class="col-md-1 forum-info">
                    <span class="views-number">
                        <dictionary-element-count class="views-number" dictionary-type="StructuralUnit"></dictionary-element-count>
                    </span>
                    <div>
                        <small>элементов</small>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

