﻿@model List<ComplaintNotificationDto>

@{
    ViewData["Title"] = "Список оповещений";
    int i = 1;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Новые оповещения</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Список отклоненных заявок</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox">
        <div class="ibox-content">

            @if (Model.Any())
            {
                <table class="footable table table-stripped toggle-arrow-tiny mt-4" data-page-size="@Model.Count">
                    <thead>
                        <tr>
                            <th data-toggle="true">#</th>
                            <th>Заголовок</th>
                            <th>Описание</th>
                            <th>Дата создания</th>
                            <th class="text-white"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.Title</td>
                                <td>@item.Message</td>
                                <td>@item.CreatedDateTime.ToRuDateString()</td>
                                <td class="text-right">
                                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-complaintId="@item.CitizentComplaintId" class="btn btn-info" title="Детали">
                                        Подробнее
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    Список отклоненных заявок пуст.
                </div>
            }

        </div>
    </div>

</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/js/views/citizenComplaint/index.js" asp-append-version="true"></script>
    </environment>
}