﻿@model EditNewsNotificationCommand

@{
    ViewData["Title"] = "Изменить запись";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Справочники</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index">Список оповещений</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Изменить запись</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>Изменить запись</h2>

            <form asp-action="Edit">

                <div class="hr-line-dashed"></div>

                <input type="hidden" asp-for="@Model.Id" />

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Заголовок</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.Title" class="form-control bg-light">
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Сообщение</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.MessageBody" class="form-control bg-light">
                        <span asp-validation-for="@Model.MessageBody" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Подпись</label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.Caption" class="form-control bg-light">
                        <span asp-validation-for="@Model.Caption" class="text-danger"></span>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a asp-action="Index" class="btn btn-white" type="button">
                            <i class="mdi mdi-arrow-left-bold-circle-outline"></i> Отмена
                        </a>
                        <button class="btn btn-info" type="submit">
                            <i class="mdi mdi-content-save"></i> Сохранить
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @Html.RenderPartialAsync("_ValidationScriptsPartial")
}

