﻿@model P.Pager.IPager<NewsNotificationDto>

@{
    ViewData["Title"] = "Список оповешений";
    int i = Model.StartItemIndex;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Справочники</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <a asp-action="Create" class="btn btn-lg btn-primary" type="button">
        Новая запись
    </a>

    <div class="ibox mt-3">
        <div class="ibox-content">

            @if (Model.Any())
            {
                <table class="footable table table-stripped toggle-arrow-tiny mt-4" data-page-size="@Model.TotalPageCount">
                    <thead>
                        <tr>
                            <th data-toggle="true">#</th>
                            <th>Заголовок</th>
                            <th class="text-white"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td>@item.Title</td>
                                <td class="text-right">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-white btn-circle" title="Изменить">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <button type="button" class="btn btn-white btn-circle delete-alert" title="Удалить"
                                            data-itemid="@item.Id">
                                        <i class="mdi mdi-trash-can text-secondary"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Pager(Model, page => Url.Action("Index", new { page }),
                    new PagerOptions
                    {
                        PagesToDisplay = 10,
                        ClassToPagerContainer = "d-flex justify-content-center"
                    })
            }
            else
            {
                <div class="alert alert-warning">
                    @ViewData["Title"] не заполнен.
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/js/views/newsNotification/index.js"></script>
    </environment>
}