﻿@{
    ViewData["Title"] = "Страница статистики";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Страница статистики</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Статистика по заявкам</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-9">
            @await Component.InvokeAsync("MonthlyStatisticCitizenComplaints") 
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12 h-100">
                    @await Component.InvokeAsync("TotalCitizenComplaint") 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 h-100">
                    @await Component.InvokeAsync("FinishedCitizenComplaint")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 h-100">
                    @await Component.InvokeAsync("FinishedPercentCitizenComplaint") 
                </div>
            </div>
        </div>
    </div>

</div>
