﻿
@{
    ViewData["Title"] = "Карта заявок";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight pb-3">
    <div class="ibox">
        <div class="ibox-title">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-block btn-default" id="allComplaints">Все</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-block btn-info" id="newComplaints">Новые</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-block btn-success" id="processComplaints">На выполнении</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-block btn-warning" id="readyComplaints">К завершению</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-block btn-primary" id="completedComplaints">Завершенные</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-block btn-danger" id="canceledComplaints">Отклоненные</button>
                </div>
            </div>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="mdi mdi-arrow-expand-all"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div id="mapid" style="width: 100%; height: 650px;"></div>

        </div>
    </div>
</div>

@section Styles{
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin="" />
        <style>
            .info {
                padding: 6px 8px;
                font: 14px/16px Arial, Helvetica, sans-serif;
                background: white;
                background: rgba(255, 255, 255, 0.8);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
            }

                .info h4 {
                    margin: 0 0 5px;
                    color: #777;
                }

            .legend {
                text-align: left;
                line-height: 18px;
                color: #555;
            }

                .legend i {
                    width: 18px;
                    height: 18px;
                    float: left;
                    margin-right: 8px;
                    opacity: 0.7;
                }

            .leaflet-new-icon {
                background: #23c6c8;
                border: 6px solid rgba(255,255,255,0.3);
                color: black;
                font-weight: bold;
                text-align: center;
                border-radius: 50%;
                line-height: 30px;
            }

            .leaflet-process-icon {
                background: #1c84c6;
                border: 6px solid rgba(255,255,255,0.3);
                color: black;
                font-weight: bold;
                text-align: center;
                border-radius: 50%;
                line-height: 30px;
            }

            .leaflet-completed-icon {
                background: #1ab394;
                border: 6px solid rgba(255,255,255,0.3);
                color: black;
                font-weight: bold;
                text-align: center;
                border-radius: 50%;
                line-height: 30px;
            }

            .leaflet-ready-icon {
                background: #f8ac59;
                border: 6px solid rgba(255,255,255,0.3);
                color: black;
                font-weight: bold;
                text-align: center;
                border-radius: 50%;
                line-height: 30px;
            }

            .leaflet-cancel-icon {
                background: #ed5565;
                border: 6px solid rgba(255,255,255,0.3);
                color: black;
                font-weight: bold;
                text-align: center;
                border-radius: 50%;
                line-height: 30px;
            }
        </style>
    </environment>
}

@section Scripts{
    <environment names="Development,Staging,Production">
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin=""></script>
        <script src="~/js/views/map/index.js" asp-append-version="true"></script>
    </environment>
}