﻿@model IList<MayorOfficeDto>


@{
    ViewData["Title"] = "Список мэрий";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Справочники</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Список мэрий</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <a asp-action="Create" class="btn btn-lg btn-primary" type="button">
        Новая запись
    </a>

    <div class="ibox mt-3">
        <div class="ibox-content">

            @if (Model.Any())
            {
                <table class="footable table table-stripped toggle-arrow-tiny mt-4" data-page-size="@Model.Count">
                    <thead>
                        <tr>
                            <th data-toggle="true">#</th>
                            <th>Название</th>
                            <th class="text-white"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Name</td>
                                <td class="text-right">
                                    <a asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-white btn-circle" title="Изменить">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <button type="button" class="btn btn-white btn-circle delete-alert" title="Удалить"
                                            data-itemid="@Model[i].Id">
                                        <i class="mdi mdi-trash-can text-secondary"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    Справочник мэрий не заполнен.
                </div>
            }

        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/js/views/mayorOffice/index.js"></script>
    </environment>
}
