﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Images/p6.jpg" width="48" height="48" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="text-muted text-xs block">@User.Identity.Name<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item">Сменить пароль</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    JFF+
                </div>
            </li>
            <li class="special_link @Html.IsSelected(controller: "Home", action: "Index")">
                <a asp-controller="Home" asp-action="Index">
                    <i class="mdi mdi-chart-areaspline"></i>
                    <span class="nav-label">Статистика</span>
                </a>
            </li>
            @if (User.IsInRole("Administrator"))
            {
                <li class="@Html.IsSelected(controller: "CitizenComplaint", action: "Index")" title="Admin Panel">
                    <a asp-controller="CitizenComplaint" asp-action="Index">
                        <i class="mdi mdi-comment-alert-outline"></i>
                        <span class="nav-label">Заявки граждан</span>
                    </a>
                </li>
                <li class="@Html.IsSelected(controller: "StructuralUnit", action: "Index")" title="Structural units">
                    <a asp-controller="StructuralUnit" asp-action="Index"><i class="mdi mdi-sitemap"></i> <span class="nav-label">Подразделения</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Manager", action: "Index")" title="Managers">
                    <a asp-controller="Manager" asp-action="Index"><i class="mdi mdi-account-group"></i> <span class="nav-label">Менеджеры</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Map", action: "Index")" title="Notifications">
                    <a asp-controller="Map" asp-action="Index"><i class="mdi mdi-map-marker-multiple"></i> <span class="nav-label">Карта заявок</span></a>
                </li>
            }
            else if (User.IsInRole("Manager"))
            {
                <li class="@Html.IsSelected(controller: "DivisionComplaint", action: "Index")" title="Admin Panel">
                    <a asp-controller="DivisionComplaint" asp-action="Index">
                        <i class="mdi mdi-comment-alert-outline"></i>
                        <span class="nav-label">Заявки граждан</span>
                    </a>
                </li>
            }

            <li class="@Html.IsSelected(controller: "NewsNotification", action: "Index")" title="Notifications">
                <a asp-controller="NewsNotification" asp-action="Index"><i class="mdi mdi-cellphone-message"></i> <span class="nav-label">Оповещения</span></a>
            </li>

            @*<li class="@Html.IsSelected(controller: "MayorOffice", action: "Index")" title="Mayor offices">
                <a asp-controller="MayorOffice" asp-action="Index"><i class="mdi mdi-office-building"></i> <span class="nav-label">Мэрии</span></a>
                </li>
                        <li class="@Html.IsSelected(controller: "Report", action: "Index")" title="Reports">
                    <a asp-controller="Report" asp-action="Index"><i class="mdi mdi-chart-areaspline"></i> <span class="nav-label">Отчеты</span></a>
                </li>*@
        </ul>
    </div>
</nav>