﻿<script src="~/lib/toastr/toastr.min.js"></script>
<script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
            $(document).ready(function () {

                toastr.options = {
                    closeButton: true,
                    debug: true,
                    progressBar: true,
                    positionClass: 'toast-top-right',
                    onclick: null
                };

                @if (TempData["IsUpdated"] != null && (bool)TempData["IsUpdated"])
                {
                    @: toastr.success('Операция выполнена успешно', 'Успешно!');
                }
                else if(TempData["IsUpdated"] != null && !(bool)TempData["IsUpdated"])
                {
                    @: toastr.error('Операция выполнена с ошибкой', 'Ошибка');
                }
            });
</script>