﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-menu-city " href="#"><i class="mdi mdi-menu"></i> </a>

        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding:20px">
                <span class="m-r-sm text-muted welcome-message">Добро пожаловать в админ страницу CityJFF.</span>
            </li>

            <li class="dropdown">
                @await Component.InvokeAsync("ComplaintNotification")
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout" class="mr-2 mdi mdi-logout-variant">
                    <i class=""></i> Выйти
                </a>
            </li>
        </ul>
    </nav>
</div>