﻿@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    height: 100%;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

textarea,
input[type] {
    background-color: #232323;
}


.bg {
    /* The image used */
    background-image: url("/images/bl-background.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    background: rgba(0, 0, 0, 0.8);
}

.btn-reserve {
    background: radial-gradient(86% 4845.12% at 6.25% 14%, #568AFD 0%, #670DF2 49.48%, #851EDF 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding: 20px 25px;
}

    .btn-reserve:hover {
        color: #fff;
    }

.btn-reserve-form {
    background: radial-gradient(86% 4845.12% at 6.25% 14%, #568AFD 0%, #670DF2 49.48%, #851EDF 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

    .btn-reserve-form:hover {
        color: #fff;
    }

.agreement {
    color: #fff;
    text-decoration: underline;
}

.main-text {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.revolution {
    font-size: 3rem;
    font-weight: 900;
    background: radial-gradient(86% 4845.12% at 6.25% 14%, #568AFD 0%, #670DF2 49.48%, #851EDF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-region {
    background-color: #0A0A0A;
}

footer {
    background-color: #000;
    padding: 25px;
    text-align: center;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .logo-container {
        padding: 30px 100px;
    }

    .main-text, .revolution {
        margin-left: 100px;
        font-size: 2.5rem;
    }

    .main-text-div {
        margin-top: 10%;
        ;
    }

    .form-region {
        padding: 50px 100px;
        background-color: #0A0A0A;
    }
}

@media (min-width: 1800px) {
    .main-text, .revolution {
        font-size: 5rem;
    }
}
