﻿@model CitizenComplaintDto

@{
    ViewData["Title"] = "Информация о заявке";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="CitizenComplaint" asp-action="Index">Список заявок</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Заявка №@Model.Id</h2>
                    <dl class="row m-0">
                        <dt class="col-sm-3 text-sm-right">Статус:</dt>
                        <dd class="col-sm-9 text-sm-left"><citizen-complaint-status status="@Model.Status"></citizen-complaint-status></dd>
                        <dt class="col-sm-3 text-sm-right">Создана:</dt>
                        <dd class="col-sm-9 text-sm-left">
                            @if (String.IsNullOrWhiteSpace(Model.UserEmail))
                            {
                                <span class="text-danger">Анонимный пользователь</span>
                            }
                            else
                            {
                                <span>@Model.FullName (@Model.UserEmail)</span>
                            }
                        </dd>
                        <dt class="col-sm-3 text-sm-right">Дата создания:</dt>
                        <dd class="col-sm-9 text-sm-left">@Model.Created</dd>
                        <dt class="col-sm-3 text-sm-right">Описание:</dt>
                        <dd class="col-sm-9 text-sm-left">@Model.Description</dd>
                        <dt class="col-sm-3 text-sm-right">Адрес:</dt>
                        <dd class="col-sm-9 text-sm-left">@Model.Address</dd>
                        <dt class="col-sm-3 text-sm-right">Направлено:</dt>
                        <dd class="col-sm-9 text-sm-left">
                            @foreach (var item in Model.CitizenComplaintStructuralUnits)
                            {
                                <span>@item.StructuralUnitName</span><br />
                            }
                        </dd>
                        <dt class="col-sm-3 text-sm-right">Завершено:</dt>
                        <dd class="col-sm-9 text-sm-left">
                            <div class="progress m-b-1">
                                <div style="width: @Model.GetCompletedPercentage();" class="progress-bar progress-bar-striped progress-bar-animated"></div>
                            </div>
                            <small>Заявка завершена на <strong>@Model.GetCompletedPercentage();</strong>.</small>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
                @foreach (var image in Model.CitizenComplaintImages)
                {
                    <div class="col text-sm-left">
                        <div class="file-box" style="width:auto">
                            <div class="file m-0">
                                <a href="@($"https://localhost:44348/{image.FileUrl}")" data-lightbox="Изображение"
                                   data-title="Изображение">
                                    <img class="img-fluid" style="height:100px" src="@($"https://localhost:44348/{image.FileUrl}")"
                                         alt="Изображение не доступно" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-0">
        <div class="wrapper wrapper-content project-manager">
            <div class="row">
                <div class="col-sm-12 text-sm-left">
                    <div class="file-box" style="width:auto">
                        <div><strong>Местоположение:</strong></div>
                        <div class="file mt-1">
                            <a href="@($"https://localhost:44348/{Model.GeolocationImagePath}")" data-lightbox="Местоположение"
                               data-title="Местоположение: @Model.Latitude, @Model.Longitude">
                                <img class="img-fluid" src="@($"https://localhost:44348/{Model.GeolocationImagePath}")"
                                     alt="Изображение не доступно" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-0">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div id="vertical-timeline" class="vertical-container light-timeline m-0">
                @foreach (var item in Model.ActionHistories.OrderBy(x => x.ActionDate))
                {
                    <div class="vertical-timeline-block">
                        <timeline-icon status="@item.Status"></timeline-icon>

                        <div class="vertical-timeline-content">
                            <citizen-complaint-status status="@item.Status"></citizen-complaint-status>
                            <p>@item.Description</p>
                            <span class="col-12 vertical-date p-0">
                                <small>@item.ActionDate.ToRuDateString()</small>
                            </span>
                            @if (!item.IsRedirected && item.Status == CitizenComplaintStatus.Canceled && User.IsInRole("Administrator"))
                            {
                                <form method="post" asp-action="Resend">
                                    <input hidden name="ActionHistoryId" value="@item.Id" />
                                    <input hidden name="ComplaintId" value="@Model.Id" />
                                    <div class="form-group">
                                        <label>Переназначить</label>
                                        <div class="input-group">
                                            <select class="form-control" asp-items="ViewBag.StructuralUnits" name="StructuralUnitId"></select>
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Назначить</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link href="~/lib/lightbox2/css/lightbox.css" rel="stylesheet" />
    </environment>
}

@section Scripts {
    <script src="~/lib/lightbox2/js/lightbox.js"></script>
}
