﻿@model P.Pager.IPager<CitizenComplaintDto>

@{
    ViewData["Title"] = "Список заявок";
    int i = Model.StartItemIndex;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Заявки граждан</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox">
        <div class="ibox-content">
            @await Component.InvokeAsync("CancelComplaint")
            @await Component.InvokeAsync("CompleteComplaint")

            @if (Model.Any())
            {
                <table class="footable table table-stripped toggle-arrow-tiny mt-4" data-page-size="@Model.TotalPageCount">
                    <thead>
                        <tr>
                            <th data-toggle="true">#</th>
                            <th>Статус</th>
                            <th>Адрес</th>
                            <th>Описание</th>
                            <th data-hide="all">Подразделения</th>
                            <th class="text-white"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td><citizen-complaint-status status="@item.Status"></citizen-complaint-status></td>
                                <td>@item.Address</td>
                                <td>@item.Description</td>
                                <td>
                                    @foreach (var unit in item.CitizenComplaintStructuralUnits)
                                    {
                                        <p><citizen-complaint-status status="@unit.Status"></citizen-complaint-status> - @unit.StructuralUnitName</p>
                                    }
                                </td>
                                <td class="text-right">
                                    @if (item.Status == Domain.Enums.CitizenComplaintStatus.New)
                                    {
                                        <a asp-action="Send" asp-route-id="@item.Id" class="btn btn-white btn-circle" title="Отправить">
                                            <i class="mdi mdi-send"></i>
                                        </a>
                                    }
                                    @if (item.Status == Domain.Enums.CitizenComplaintStatus.ReadyToComplete)
                                    {
                                        <a href="#" data-toggle="modal" data-target="#completeModal" class="btn btn-white btn-circle" data-id="@item.Id" onclick="$('#CompleteCitizenComplaintId').val(@item.Id)" title="Завершить заявку">
                                            <i class="mdi mdi-check"></i>
                                        </a>
                                    }
                                    @if (item.Status == Domain.Enums.CitizenComplaintStatus.New)
                                    {
                                        <a href="#" data-toggle="modal" data-target="#cancelModal" class="btn btn-white btn-circle" data-id="@item.Id" onclick="$('#CancelCitizenComplaintId').val(@item.Id)" title="Отклонить заявку">
                                            <i class="mdi mdi-close"></i>
                                        </a>
                                    }
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-white btn-circle" title="Детали">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Pager(Model, page => Url.Action("Index", new { page }),
                    new PagerOptions
                    {
                        PagesToDisplay = 10,
                        ClassToPagerContainer = "d-flex justify-content-center"
                    })
            }
            else
            {
                <div class="alert alert-warning">
                    Список заявок пуст.
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        @Html.RenderPartialAsync("_ValidationScriptsPartial")
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/js/views/citizenComplaint/index.js" asp-append-version="true"></script>
    </environment>
}