﻿@model int
@{
    ViewData["Title"] = "Отправка в подразделения";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Заявки граждан</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="CitizenComplaint" asp-action="Index">Список заявок</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox">
        <form id="demoform" action="#" method="post">
            <input name="CitizenComplaintId" value="@Model" hidden />
            <select multiple="multiple" size="20" name="StructuralUnitIds" title="StructuralUnitIds" asp-items="ViewBag.StructuralUnits">
            </select>
            <br>
            <button type="submit" class="btn btn-info btn-block mdi mdi-check-all"> Подтвердить</button>
        </form>
    </div>

</div>

@section Styles{
    <environment names="Development,Staging,Production">
        <link href="~/lib/bootstrap4-duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />
        <style>
            .bootstrap-duallistbox-container .btn-group .btn {
                border-color: lightgray;
            }

            .bootstrap-duallistbox-container select {
                border-color: lightgray;
            }
        </style>
    </environment>
}

@section Scripts{
    <environment names="Development,Staging,Production">
        <script src="~/lib/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
        <script>
            var demo1 = $('select[name="StructuralUnitIds"]').bootstrapDualListbox({
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false,
                filterPlaceHolder: "Поиск",
                infoText: "Показаны все {0}",
                infoTextEmpty: "Данных нет",
                removeAllLabel: "Удалить все",
                moveAllLabel: "Добавить все",
                filterTextClear: "Показать все",
                infoTextFiltered: '<span class="label label-warning">Отфильтровано</span> {0} из {1}'
            });
        </script>
    </environment>
}